.left-side {
	float: left;
}
.right-side {
	float: right;
	a {
		display: inline-block;
		font-size: 16px;
		margin-top: 20px;
		margin-right:15px;
		color: #b87b57;
		
		&:hover {
			background-color:#b87b57;
			color:white;
			transition: background-color 0.7s;

		}
	}
}

.logo {
	width: 50px;
	height: 50px;
	margin-left:8px;
}
.logo-text {
	font-size: 10px;
	margin-top:-7px;
	color: #b87b57;
}
.main-logo {
	display: inline-block;
	&:hover {
		opacity: 0.8;
	}
}

